@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* icons */
.f-icon {
  color: hsl(var(--bc));
  transition: all 0.5s;
  padding: 40px;
}

.f-icon:hover {
  color: hsl(var(--p));
}

.f-icon-active {
  color: hsl(var(--pf));
  transition: all 0.5s;
}

.f-icon-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 40px;
  height: 40px;
}

.f-content {
  min-height: 100vh;
  margin-left: 85px;
}

/* page switch animation https://dev.to/fazliddin04/react-router-v6-animated-transitions-diy-3e6l */
.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translate(-20px, 0); */
  }

  to {
    opacity: 1;
    /* transform: translate(0px, 0px); */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* transform: translate(0px, 0px); */
  }

  to {
    /* transform: translate(-20px, 0); */
    opacity: 0;
  }
}